:root {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	/* Primary Colors */
	--color-bg-dark: #121212; /* Dark background */
	--color-bg-medium: #1e1e1e; /* Medium dark for cards/sections */
	--color-bg-light: #2d2d2d; /* Light dark for hover states */
	--color-bg-lighter: #3d3d3d; /* Lighter dark for active states */
	--color-border: #3d3d3d;
	--color-border-active: #7c7c7c;

	/* Text Colors */
	--color-text-primary: #e0e0e0; /* Primary text (light gray) */
	--color-text-secondary: #a0a0a0; /* Secondary text (darker gray) */
	--color-text-contrast: #ffffff;

	/* Accent Color (Blue) */
	--color-accent: #4d8bf0; /* Vibrant blue for buttons, highlights */
	--color-accent-hover: #3a7ae8; /* Slightly darker for hover states */
	--color-accent-active: #2d70e6;

	/* Utility Colors */
	--color-success: #28a745; /* Green for success messages */
	--color-warning: #ffc107; /* Yellow for warnings */
	--color-error: #dc3545; /* Red for errors */

	box-sizing: border-box;

	width: 100%;
	height: 100vh;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	/* min-width: 320px; */
	min-height: 100vh;
	background-color: var(--color-bg-dark);
	color: var(--color-text-primary);
}

h1, h3, p {
	margin: 0;
}

h1,
h3 {
	letter-spacing: -0.01rem;
	color: var(--color-text-contrast);
}

h1 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

small {
	color: var(--color-text-secondary);
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

input, textarea, select {
	background: none;
	margin: 0;
	font: inherit;
	color: inherit;
	outline: none;
	border: 1px solid var(--color-border);
	background-color: var(--color-bg-light);
	border-radius: 0.5rem;
	padding: 0.75rem;
	&:focus {
		border-color: var(--color-border-active);
	}
}
