button {
	color: var(--color-text-primary);
	border-radius: 0.5rem;
	border-color: var(--color-border);
	cursor: pointer;
	&:active {
		transform: scale(0.98);
	}
}

.md {
	padding: 0.75rem;
}

.primary {
	background-color: var(--color-accent);
	&:hover {
		background-color: var(--color-accent-hover);
	}
	&:active {
		background-color: var(--color-accent-active);
	}
}

.secondary {
	background-color: var(--color-bg-light);
	&:hover {
		background-color: var(--color-bg-lighter);
	}
	&:active {
		background-color: var(--color-bg-medium);
	}
}

.auth-toggle-active {
	background-color: var(--color-bg-dark);
	&:hover {
		background-color: var(--color-bg-light);
	}
}

.auth-toggle-inactive {
	background-color: var(--color-bg-medium);
	&:hover {
		background-color: var(--color-bg-light);
	}
}
