.add-habit-form {
	background-color: var(--color-bg-medium);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	border-radius: 0.5rem;
	gap: 1rem;
  width: 400px;
}

.back-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	color: var(--color-text-primary);
	transition: opacity 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.back-button:hover {
	opacity: 0.7;
}

.add-habit-form .header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.subtitle {
	color: var(--color-text-secondary);
}

.spinner {
	width: 24px;
	height: 24px;
	border: 3px solid var(--color-text-primary);
	border-top: 3px solid var(--color-accent);
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 0 auto 0.5rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
